.icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3); // use it to set the color fo SVG
}

.list {
  margin: 3rem 0;
  list-style: none;
  padding: 2rem 1rem;
  border-top: var(--line);
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > * {
    flex-basis: 50%;
    margin-bottom: 0.7rem;
  }

  & > *::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;

    // older browser
    // background-image: url(./../img/chevron-thin-right.svg);
    // background-size: cover;

    // newer browser masks
    background-color: var(--color-primary);
    -webkit-mask-image: url(./../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(./../img/chevron-thin-right.svg);
    mask-size: cover;
  }
}
