//----------
// container
//----------
.container {
  max-width: 120rem;
  margin: 4.8rem auto;
  box-shadow: var(--shadow-dark);
}

//----------
// header
//----------
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 0 3.2rem;
  height: 9vh;
}

.logo {
  height: 3.25rem;
}

//----------
// content
//----------
.content {
  display: flex;
  height: 100vh;
  justify-content: center;
}

//-------------
// main content
//-------------
.hotel-view {
  flex: 1 0 82%;
  height: 100%;
  background-color: black;
  padding-inline-start: 20rem;
}
