//----------
// header
//----------
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 0 3.2rem;
  height: 9vh;
  border-bottom: 1px solid var(--color-grey-light-4);
}

.logo {
  height: 3.25rem;
}
